{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
   
    <div class="container">  <h1>WELCOME {{user.first_name}}</h1><br><br>
        <h2>HERE ARE THE CLOSEST VOLUNTEER SERVICES IN YOUR AREA</h2>
        <iframe width="1000" height="500" style="border:0" loading="lazy" 
                allowfullscreen src="https://www.google.com/maps/embed/v1/search?q=volunteer%20services&key=AIzaSyDcplqMFsdbKDLpNil2_-Sf5emR1umdBek">
    </iframe>
    </div>
    </body>
</html>